@import "src/assets/scss/variables";

#meeting-table{
   width: 100%;
}
#meeting-table > thead > th{
  text-align: left;
}
.green{
  color:$primary-green;
}
.red{
  color:$primary-red
}

@media screen and (min-width: 1280px){
    #meeting-table{
        display: table;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }